#all {
	vertical-align: top;
}
#cmd {
	min-height: 1.3em;
	line-height: 1.3em;
	padding: 2px 2px 2px 1em;
	outline: none;
	border: 2px solid #dda;
	border-radius: 7px;
	position: relative;
	background: #fff;
}
#cmd:focus {
	border-color: #ce5;
}
#cmd:before {
	content: '>';
	color: #888;
	position: absolute;
	left: 2px;
}

#console .cmd {
	border-left: 3px double #ce5;
	padding: 1px 1ex 1px 1ex;
	border-radius: 7px 0 0 7px;
	background: #fcfef5;
	overflow: auto;
}
#console .error {
	border-left: 3px double red;
	padding: 1px 1ex 2px 1ex;
	border-radius: 7px 0 0 7px;
	background: #fef7f8;
	color: red;
}
#console .error p {
	font-style: italic;
	font-size: 80%;
	margin: 4px;
}
.hr, .hr * {
	text-align: center;
	vertical-align: top;
}
.varName:after {
	content: ' =';
}
.varName {
	color: #ad7;
	margin: 0 .5ch 0 0;
	padding: 0;
	float: left;
	border: none;
	background: transparent;
	font: inherit;
	cursor: pointer;
	overflow: auto;
}
.varName:hover {
	color: #56f;
}
.eq {
	color: #ad7;
	padding: 0 .5ch;
	background: #309;
	border-radius: 8px;
}
.p.cmd {
	text-align: left;
}
#cmd .capsule {
	border-radius: 8px;
	background: #ad7;
	color: #fff;
	padding: 0 5px 4px;
	text-shadow: 2px 2px rgba(0,0,0,0.3);
}
em.var {
	font-style: normal !important;
	color: #d7a !important;
}
q, em.num {
	font-style: italic !important;
	color: #77d !important;
}
em.error-marker {
    font-size: 80%;
	border-radius: 8px;
	background: #d56;
	color: #fff;
	padding: 0 6px 0 5px;
	margin: 0 .5ex;
	text-shadow: 2px 2px rgba(0,0,0,0.3);
}